<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X UA-compatible" content="IE=edge">
        <meta name="viewport" content="width=device=width,initial-scale=1.0">
        <title>log mensajes</title>
        <style>
            table {
                width: 80%;
                border-collapse: collapse;
                margin: 20 px auto;              
            }
            th,td{
                border: 1px solid #D6EEEE;
                padding: 8 px;
                text-align: left;
            }
            th{
                background-color: aqua;
            }
        </style>
    </head>
    <body>

        <h2> registro de mensajes</h2>
        <table>
            <tr>
                <th>Fecha y Hora</th>
                <th>Mensaje</th>
            </tr>
            {% for registro in registros %}
                <tr>
                    <td>{{registro.fecha_y_hora}}</td>
                    <td>{{registro.texto}}</td>
                    
                </tr>
            {% endfor %}
        </table>
    
    </body>
</html>